# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?



// tailwind.config.js
const { fontFamily } = require("tailwindcss/defaultTheme");

module.exports = {
  content: [
    "./index.html",
    "./src/**/*.{js,ts,jsx,tsx}", // selon ton projet
  ],
  theme: {
    extend: {
      fontFamily: {
        sans: ["MaPolice", ...fontFamily.sans],
      },
    },
  },
  plugins: [require("daisyui")],
  daisyui: {
    themes: [
      {
        claire: {
          "primary": "oklch(76.662% 0.135 153.45)",
          "secondary": "oklch(61.302% 0.202 261.294)",
          "accent": "oklch(72.772% 0.149 33.2)",
          "neutral": "oklch(35.519% 0.032 262.988)",
          "base-100": "oklch(100% 0 0)",
          "base-200": "oklch(93% 0 0)",
          "base-300": "oklch(86% 0 0)",
          "info": "oklch(72.06% 0.191 231.6)",
          "success": "oklch(64.8% 0.15 160)",
          "warning": "oklch(84.71% 0.199 83.87)",
          "error": "oklch(71.76% 0.221 22.18)",
        },
      },
      {
        noire: {
          "primary": "oklch(92% 0.2653 125)",
          "secondary": "oklch(83.27% 0.0764 298.3)",
          "accent": "oklch(43% 0 0)",
          "neutral": "oklch(30% 0.08 209)",
          "base-100": "oklch(20% 0.08 209)",
          "base-200": "oklch(15% 0.08 209)",
          "base-300": "oklch(10% 0.08 209)",
          "info": "oklch(74% 0.16 232.661)",
          "success": "oklch(79% 0.209 151.711)",
          "warning": "oklch(84.8% 0.1962 84.62)",
          "error": "oklch(65% 0.1985 24.22)",
        },
      },
    ],
    darkTheme: "noire", // indique le thème utilisé quand le mode sombre est actif
  },
}
